{% extends 'main/base.html' %}

{% block title %}
    HOME
{% endblock title %}

{% block content %}

{% for post in posts reversed %}
    <div class="card mt-2">
        <div class="card-header"><strong>@{{ post.author.username }}</strong>
        <div class="card-body d-flex flex-row justify-content-between">
            <div>
                <h5 class="card-title">{{post.title}}</h5>
                <p>{{post.description}}</p>
            </div>

            <div>
                {% if user == post.author or perms.main.delete_post %}

                    <form method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger" value="{{post.id}}" name="post-id">
                            DELETE
                        </button>
                    </form>

                {% endif %}

                <br>

                {% if user.is_staff %}
                    <form method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-warning" value="{{post.author.id}}" name="user-id">
                            BAN User
                        </button>
                    </form>
                {% endif %}
            </div>

        </div>
        <div class="card-footer text-muted">
            {{post.created_at}}
        </div>
    </div>
    
    {% empty %}
    <p>No post yet</p>

{% endfor %}


{% endblock content %}
